
        .is-screen-reader-text {
            border: 0;
            clip: rect(1px,1px,1px,1px);
            -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute!important;
            width: 1px;
            word-wrap: normal!important;
            word-break: normal;
        }

      .speech {
        border: 1px solid #DDD;
        width:300px;
        padding:0;
        margin:0
      }

      .speech input {
        border:0;
        width:240px;
        display:inline-block;
        height:30px;
        font-size: 14px;
      }

      .speech img {
        float:right;
        width:40px
      }

      img#microphone-dictation:focus {
            outline: 1px dotted black;
      }
